$color-primary: #10151c; // rgb(16,21,28)
$color-secondary: #dd2726;
$color-text-light: #ffffff;
$color-background: #e5e5e5;
$color-background-section: #ffffff;

$border-radius: 15px;
$padding-horizontal: 15px;

$margin-horizontal-small: 0px;
$margin-horizontal-big: 30px;

$breakpoint: 960px;

// maybe remove these later
$breakpoint-xs: 0px; // extra-small
$breakpoint-sm: 600px; // small
$breakpoint-md: 960px; // medium
$breakpoint-lg: 1280px; // large
$breakpoint-xl: 1920px; // extra-large
